setuptools~=63.2.0
fastapi~=0.85.0
numpy~=1.22.4
pydantic==1.10.11
opencv-python~=4.6.0.66
PyYAML~=5.4.1
# torch~=1.10.2
# torchvision~=0.11.3
ultralytics~=8.0.73
SQLAlchemy~=1.4.37
boto3~=1.24.9
starlette~=0.20.4
requests~=2.28.0
uvicorn~=0.18.3
psycopg2-binary
python-multipart~=0.0.5
python-dotenv~=1.0.0
kornia==0.6.8
click
